<!---------------------------------------------------
    Master view of all Countries
    --------------------------------------------------->
<div class="well" data-ng-controller="countries as vm">
    <!-- Countries Content -->
    <ul data-ng-repeat="country in vm.countriesList">
        <li>
            {{country.name}}
        </li>
    </ul>

    <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="text" id="displayname" />
        <ul id="discussion"></ul>
    </div>
</div>